/* RESET CSS */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ID SECTION */

#wrapper {
	margin-left: 9em;
	position: absolute;
	right: 0;
}

/* NAV SECTION */
#navbar {
	margin: 10px auto;
	width: 100px;
	text-align: center;
}

#navbar ul {
	list-style-type: none;
}
		
#navbar li {
	padding-bottom: 5px;
	padding-top: 5px;
	border-bottom: 1px #000000 solid;
}
/* END OF NAV SECTION */

#contact {
	float: left;
}

#sitemap {
	float: right;
}

/* HTML TAG SECTION */

body {
	font-family: Arial, sans-serif;
}

/* HEADER SECTION */

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 3em;
	font-family: "Times New Roman";
}

/* END HEADER SECTION */

/* NAV SECTION */
nav {
	width: 9em;
	position: fixed;
	height: 100%;
	background-color: #FFFFFF;
}

nav img {
	display: block;
	margin: auto;
	width: 55%;
	height: 15%;
}

nav thead {
	text-align: center;
}

nav table {
	margin: auto;
}

nav td {
	font-size: .8em;
}

/* END NAV SECTION */

main {
	padding: .5em 1em .5em 1em;
	background-color: #4D4D4D;
	color: #BFBFBF;
}

/* FOOTER SECTION */
footer {
	overflow: hidden;
	position: relative;
	padding: .5em 1em .5em 1em;
	bottom: 0;
	background-color: #737373;
}

footer td {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
/* END FOOTER SECTION */