/* RESET CSS */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ID SECTION */

#wrapper {
	margin-left: 9em;
	position: absolute;
	right: 0;
}

/* NAV SECTION */
#navbar {
	margin: 10px auto;
	width: 100px;
	text-align: center;
}

#navbar ul {
	list-style-type: none;
}
		
#navbar li {
	padding-bottom: 2px;
	padding-top: 2px;
	border-bottom: 1px #caa869 solid;
}

#navbar a {
	text-decoration: none;
	color: #caa869;
}

#navbar a:visited {
	color: #caa869;
}

#navbar a:hover {
	color: #caa869;
}
/* END OF NAV SECTION */

#contact {
	float: left;
}

#sitemap {
	float: right;
}

/* HTML TAG SECTION */

body {
	font-family: 'Raleway', sans-serif;
	font-weight: 300;
}

/* HEADER SECTION */

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(-10deg);
	font-size: 5em;
	font-family: 'Pacifico', cursive;
	color: #e8dbc6;
}

/* END HEADER SECTION */

/* NAV SECTION */
nav {
	width: 9em;
	position: fixed;
	height: 100%;
	background-color: #49412c;
}

#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	height: 165px;
	margin-top: 40%;
}

#social {
	display: flex;
	justify-content: space-between;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 15px;
}

nav thead {
	text-align: center;
}

nav table {
	color: #caa869;
	margin: auto;
	font-size: 0.7em;
	margin-top: 50%;
}

nav td {
	font-size: .8em;
}

/* END NAV SECTION */

main {
	padding: .5em 1em .5em 1em;
	background-color: #f9f0df; /* #4D4D4D; */
	color: #6a5750;
}

/* FOOTER SECTION */
footer {
	overflow: hidden;
	position: relative;
	padding: .5em 1em .5em 1em;
	bottom: 0;
	background-color: #e8dbc6;
	color: #6a5750;
}

footer td {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
/* END FOOTER SECTION */