/* RESET CSS */
* {
	margin: 0;
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* ID SECTION */

#wrapper {
	margin-left: 150px;
}

/* NAV SECTION */
#navbar {
	margin: auto;
	width: 100px;
	padding-top: 1em;
	padding-bottom: 1em;
	text-align: center;
}

#navbar ul {
	list-style-type: none;
}
		
#navbar li {
	display:block;
	padding-bottom: 2px;
	padding-top: 2px;
}

#navbar a {
	display: block;
	text-decoration: none;
	color: #CAA869;
	padding-bottom: 5px;
	border-bottom: 1px #CAA869 solid;
}

#navbar a:visited {
	color: #CAA869;
}

#navbar a:hover{
	color: #FFFFFF;
	border-bottom: 1px #FFFFFF solid;
}

#logo {
	display: block;
	margin: auto;
	padding-top: 2em;
}

#logo-mobile {
	display: none;
	width: 0;
	height: 0;
}

#social {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
	padding-left: 10px;
	padding-right: 10px;
}

/* END OF NAV SECTION */

/* FOOTER SECTION */
#hours td {
	padding-left: 5px;
}

#sitemap td {
	padding-left: 5px;
}
#mobile-hours {
		display: none;
}
/* END FOOTER SECTION */
	

/* HTML TAG SECTION */

body {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #6A5750;
	background-color: #49412C;
	min-width: 300px;
}

a {
	color: #6A5750;
	font-weight: 700;
}

/* HEADER SECTION */
header {
	position: relative;
	color: #FFFFFF;
	text-align: center;
	height: 20em;
	overflow: hidden;
}

h1 {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(-10deg);
	font-size: 5em;
	font-family: "Pacifico", cursive;
	color: #fff;
}

/* END HEADER SECTION */

/* NAV SECTION */
nav {
	width: 150px;
	position: fixed;
	background-color: #49412C;
}

/* END NAV SECTION */

main {
	padding: .5em 1em .5em 1em;
	background-color: #f9f0df; /* #4D4D4D; */
}

/* FOOTER SECTION */
footer {
	overflow: hidden;
	position: relative;
	padding: .5em 1em .5em 1em;
	bottom: 0;
	background-color: #e8dbc6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 0.8em;
}

footer td {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
/* END FOOTER SECTION */

/* HIDE HOURS TABLE IN FOOTER ON SMALLER SCREEN */
@media only screen and (max-width: 1000px) {
	#hours {
		display: none;
	}
}

/* DON'T DISPLAY MOBILE FOOTER ITEMS ON LARGE SCREEN */
@media only screen and (min-width: 768px) {
	#sitemap-link {
		display: none;
	}
	#mobile-social {
		display: none;
	}
}

/* PHONE */
@media only screen and (max-width: 768px) {
	#wrapper {
		margin-left: 0;
	}
	
	header {
		margin-top: 50px;
	}
	
	nav {
		margin: 0;
		top: 0;
		height: 50px;
		width: 100%;
		z-index: 1;
	}
	
	#logo {
		display: none;
	}
	
	#navbar {
		width: 100%;
	}
	
	#navbar ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	#navbar li {
		float: left;
	}
	
	#navbar li a{
		border-bottom: 0;
	}
	
	#navbar a:hover {
		border-bottom: 0;
	}
	
	#social {
		display: none;
	}
	
	#mobile-hours {
		display: none;
	}
	#sitemap {
		display: none;
	}
	footer {
		justify-content: space-around;
		text-align: center;
		font-size: 1em;
	}
	#mobile-social img{
		padding-left: 15px;
		padding-right: 15px;
	}
	#social {
		display: none;
	}
}

/* OLD PHONE */
@media only screen and (max-width: 360px) {
	#wrapper {
		margin-left: 0;
	}
	
	header {
		margin-top: 50px;
	}
	
	nav {
		margin: 0;
		top: 0;
		height: 50px;
		width: 100%;
		z-index: 1;
	}
	
	#logo {
		display: none;
	}
	
	#navbar {
		font-size: .8em;
		width: 100%;
	}
	
	#navbar ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	#navbar li {
		float: left;
	}
	
	#navbar li a{
		border-bottom: 0;
	}
	
	#navbar a:hover {
		border-bottom: 0;
	}
	
	#social {
		display: none;
	}
	
	#mobile-hours {
		display: none;
	}
	#sitemap {
		display: none;
	}
	footer {
		justify-content: space-around;
		text-align: center;
		font-size: .9em;
	}
	#mobile-social img{
		padding-left: 15px;
		padding-right: 15px;
	}
	#social {
		display: none;
	}
}
}