html, body {
	height: 100%;
    margin:0;
	background-color: #49412C;
}

#bg-header {
	background-image: url(../images/headercafe.jpg);
	background-position: center bottom;
	background-size: cover;
	top: 0;
	width: 100%;
	height: 100%;
}

.main-container {
    height:100%;
    display:flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -webkit-align-content: stretch;
    align-content: stretch;
}

.nav-container {
	position: fixed;
	height: 100%;
    background-color: #49412C;
    width:150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.content-container {
    -webkit-flex: 1;
    flex:1;
    position:relative;
	margin-left: 150px;
}

.content {
    position:absolute;
    width:100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

.scrollable {
     overflow-y: auto;
}

/* NAV SECTION */

#logo-link {
	align-self: center;
}

#nav-links {
	width: 100px;
	margin: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	align-self: center;
}

#nav-links ul {
	padding: 0;
	list-style-type: none;
}
		
#nav-links li {
	display:block;
	padding-bottom: 2px;
	padding-top: 2px;
}

#nav-links a {
	display: block;
	text-decoration: none;
	color: #CAA869;
	padding-bottom: 5px;
	border-bottom: 1px #CAA869 solid;
}

#nav-links a:visited {
	color: #CAA869;
}

#nav-links a:hover{
	color: #FFFFFF;
	border-bottom: 1px #FFFFFF solid;
}

#social-links {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: auto;
	padding-bottom: 1em;
}

.spacer {
	flex-grow: 2;
}

/* END OF NAV SECTION */

/* FOOTER SECTION */
#hours td {
	padding-left: 5px;
}

#sitemap td {
	padding-left: 5px;
}
#mobile-hours {
	display: none;
}
/* END FOOTER SECTION */
	

/* HTML TAG SECTION */

body {
	font-family: "Raleway", sans-serif;
	font-weight: 300;
	color: #6A5750;
	background-color: #49412C;
}

a {
	color: #6A5750;
	font-weight: 700;
}

/* HEADER SECTION */
header {
	position: relative;
	color: #FFFFFF;
	text-align: center;
	height: 20em;
}

h1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%) rotate(-10deg);
	font-size: 5em;
	font-family: "Pacifico", cursive;
	color: #fff;
	line-height: 1.0;
}

/* END HEADER SECTION */

main {
	padding: .5em 1em .5em 1em;
	flex: 1;
	background-color: #f9f0df; /* #4D4D4D; */
}


/* FOOTER SECTION */
footer {
	padding: .5em 1em .5em 1em;
	background-color: #e8dbc6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 0.8em;
}

footer td {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}
/* END FOOTER SECTION */

/* HIDE HOURS TABLE IN FOOTER ON SMALLER SCREEN */
@media only screen and (max-width: 1000px) {
	#hours {
		display: none;
	}
}

/* DON'T DISPLAY MOBILE FOOTER ITEMS ON LARGE SCREEN */
@media only screen and (min-width: 768px) {
	#sitemap-link {
		display: none;
	}
	#mobile-social {
		display: none;
	}
}

/* PHONE */
@media only screen and (max-width: 768px) {
	.main-container {
		margin-top: 50px;
	}
	
	.nav-container {
		margin: 0;
		top: 0;
		height: 50px;
		width: 100%;
		z-index: 1;
	}
	
	.content-container{
		margin-left: 0;
	}
	
	#logo {
		display: none;
	}
	
	#logo-link {
		width: 100%;
	}
	
	#nav-links {
		padding: 0;
		width: 100%;
	}
	
	#nav-links ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	#nav-links li {
		float: left;
	}
	
	#nav-links li a{
		border-bottom: 0;
	}
	
	#nav-links a:hover {
		border-bottom: 0;
	}
	
	#social-links {
		display: none;
	}
	
	#mobile-hours {
		display: none;
	}
	
	#sitemap {
		display: none;
	}
	
	footer {
		justify-content: space-around;
		text-align: center;
		font-size: 1em;
	}
	
	#mobile-social img{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	#social-links {
		display: none;
	}
}