/*CSS stylesheet */
#input{
	padding-top: 10px;
	clear:both;
}

#contact-info {
	float: left;
	width: 50%;
	margin-right: 20px;
}

#map {
	float: left;
	margin-top: 1em;
	width: 48%;
	height: 20em;
	background-color: #000;
}

h2{
	font-size: 1.5em;
	text-align:center;
}