footer {
	overflow: hidden;
	position: relative;
	padding: .5em 1em .5em 1em;
	bottom: 0;
	background-color: #e8dbc6;
	color: #6a5750;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	font-size: 0.8em;
}

#hours td {
	padding-left: 5px;
}

#sitemap td {
	padding-left: 5px;
}


@media only screen and (min-width: 1000px) {
	#mobile-hours {
		display: none;
	}
}

@media only screen and (max-width: 1000px) {
	#hours {
		display: none;
	}
}

@media only screen and (min-width: 768px) {
	#sitemap-link {
		display: none;
	}
	#mobile-social {
		display: none;
	}
}

@media only screen and (max-width: 768px) {
	#mobile-hours {
		display: none;
	}
	#sitemap {
		display: none;
	}
	footer {
		justify-content: space-around;
		text-align: center;
		font-size: 1em;
	}
	#mobile-social img{
		padding-left: 15px;
		padding-right: 15px;
	}
	#social {
		display: none;
	}
}