#menu-items {
	margin-right: 200px;
}

#menu-items table {
	width: 100%;
}

#menu-items td:last-child {
	text-align: right;
}


#menu-img table {
	position: absolute;
	top: 0;
	right: 0;
	border-collapse: collapse;
}

main {
	min-height: 800px;
}

h2 {
	font-size: 2em;
}

/* RESPONSIVE GRID CODE */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}
.group { zoom:1; /* For IE 6/7 */ }
/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}
.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 530px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_2_of_2, .span_1_of_2 {
		width: 100%;
	}
}

@media only screen and (max-width: 768px) {
	main, #menu-img table {
		margin-top: 50px;
	}
	
	#menu-img {
		display: none;
	}
	
	#menu-items {
		margin: 0;
	}
}