/* RESET CSS */
* {
	padding: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

/* HTML ELEMENTS */
/* Makes body fill height */
html, body {
	height: 100%;
    margin: 0;
	font-family: "Raleway", sans-serif;
	color: #2F2724;
	background-color: #49412C;
}

a {
	color: #2F2724;
	font-weight: bold;
}

a:hover {
	color: #6A5750;
}

h2 {
	margin: 0;
	font-size: 3em;
	font-family: "Raleway", sans-serif;
	text-align: center;
}
h3 {
	font-size: 2em;
}
/* END HTML SECTION */

/* PAGE LAYOUT */
/* USING FLEX BOX */
.main-container {
    height: 100%;
	min-height: 100%;
    display: flex;
    flex-direction: row;
    align-content: stretch;	
}

/* Left side containing nav */
.nav-container {
	position: fixed;
	height: 100%;
    background-color: #49412C;
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

/* Right side containing header, main, footer */
.content-container {
    flex: auto;
    position: relative;
	margin-left: 150px;
}

/* Make right side fill height of screen and display in columns */
.content {
    position: absolute;
    width: 100%;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	height: 100%;
}

/* Spaces out flex */
.spacer {
	flex-grow: 2;
}
/* END PAGE LAYOUT SECTION */

/* NAV SECTION */
#logo-link {
	align-self: center;
}

#nav-links {
	width: 100px;
	margin: auto;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	text-align: center;
	align-self: center;
}

#nav-links ul {
	padding: 0;
	list-style-type: none;
}
		
#nav-links li {
	display: block;
	padding-bottom: 2px;
	padding-top: 2px;
}

#nav-links a {
	display: block;
	text-decoration: none;
	color: #D9B678;
	padding-bottom: 5px;
	border-bottom: 1px #D9B678 solid;
}

#nav-links a:visited {
	color: #D9B678;
}

#nav-links a:hover{
	color: #FFFFFF;
	border-bottom: 1px #FFFFFF solid;
}

#social-links {
	display: flex;
	justify-content: space-between;
	padding-top: 1em;
	padding-left: 20px;
	padding-right: 20px;
	margin-top: auto;
	padding-bottom: 1em;
}
/* END NAV SECTION */

/* HEADER SECTION */
header {
	position: relative;
	color: #FFFFFF;
	text-align: center;
	height: 20em;
	flex: none;
}

/* Large text over image */
h1 {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	/* Moves text position with screen sizing and rotates text */
	transform: translateX(-50%) translateY(-50%) rotate(-10deg);
	font-size: 5em;
	font-family: "Pacifico", cursive;
	color: #FFFFFF;
	text-shadow: 0 0 30px #333;
	line-height: 1.0;
}

/* Image for large headers */
#bg-header {
	background-image: url(../images/headercafe.jpg);
	background-position: center bottom;
	background-size: cover;
	top: 0;
	width: 100%;
	height: 100%;
}
/* END HEADER SECTION */


/* MAIN CONTENT SECTION */
main {
	padding: .5em 1em .5em 1em;
	flex: 1 0 auto;
	background-color: #F9F0DF;
}
/* END MAIN SECTION */

/* FOOTER SECTION */
footer {
	padding: .5em 1em .5em 1em;
	background-color: #E8DBC6;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	flex: none;
	font-size: 0.8em;
}

footer td {
	text-align: center;
	padding-left: 5px;
	padding-right: 5px;
}

footer #address {
	line-height: 0.5;
}

#hours td {
	padding-left: 5px;
}

#sitemap td {
	padding-left: 5px;
}
#mobile-hours {
	display: none;
}
/* END FOOTER SECTION */

/* HIDE HOURS TABLE IN FOOTER ON SMALLER SCREEN */
@media only screen and (max-width: 1000px) {
	#hours {
		display: none;
	}
}

/* DON'T DISPLAY MOBILE FOOTER ITEMS ON LARGE SCREEN */
@media screen and (min-width: 768px) {
	#sitemap-link {
		display: none;
	}
	#mobile-social {
		display: none;
	}
}

/* RESIZE WIDTH FOR PHONE SCREEN*/
@media screen and (max-width: 768px){
	.main-container {
		margin-top: 50px;
	}
	
	.nav-container {
		margin: 0;
		top: 0;
		height: 50px;
		width: 100%;
		z-index: 1;
	}
	
	.content-container{
		margin-left: 0;
	}
	
	#logo {
		display: none;
	}
	
	#logo-link {
		width: 100%;
	}
	
	#nav-links {
		padding: 0;
		width: 100%;
	}
	
	#nav-links ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	#nav-links li {
		float: left;
	}
	
	#nav-links li a{
		border-bottom: 0;
	}
	
	#nav-links a:hover {
		border-bottom: 0;
	}
	
	#social-links {
		display: none;
	}
	
	#mobile-hours {
		display: none;
	}
	
	#sitemap {
		display: none;
	}
	
	footer {
		justify-content: space-around;
		text-align: center;
		font-size: 1em;
	}
	
	#mobile-social img{
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* RESIZE NAV FOR SCREEN HEIGHT */
@media screen and (max-height: 450px) {
	.main-container {
		margin-top: 50px;
	}
	
	.nav-container {
		margin: 0;
		top: 0;
		height: 50px;
		width: 100%;
		z-index: 1;
	}
	
	.content-container{
		margin-left: 0;
	}
	
	#logo {
		display: none;
	}
	
	#logo-link {
		width: 100%;
	}
	
	#nav-links {
		padding: 0;
		width: 100%;
	}
	
	#nav-links ul {
		display: flex;
		align-items: center;
		justify-content: space-around;
	}
	
	#nav-links li {
		float: left;
	}
	
	#nav-links li a{
		border-bottom: 0;
	}
	
	#nav-links a:hover {
		border-bottom: 0;
	}
	
	#social-links {
		display: none;
	}
}