/* MAIN CONTENT SECTION */
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#catering-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#catering-form {
    margin-right: 1em;
    flex: 3;
}

#catering-img {
    flex: 2;
    min-height: 100%;
    background-image: url(../images/menudrink.jpg);
    background-size: cover;
}

input{
	margin-bottom: 0.5em;
    resize: both;
}

.error {
	color: #FF0000;
	font-size: 0.85em;
	display: block;
	margin-top: -0.3em;
}

/* REMOVE RIGHT IMAGE AT LESS THAN 1115 PIXELS */
@media only screen and (max-width: 1115px) {
	
	#catering-img {
		display: none;
	}
	
	#catering-form {
		margin: 0;
	}
}

/* PUT LOG IN FORM UNDER SIGN UP FORM AT 600px */
@media only screen and (max-width: 600px) {
	
	.flex-row {
		flex-direction: column;
	}
}