/* HEADER SECTION */
#bg-header {
	background-image: url(../images/exterior.jpg);
	background-position: center bottom;
	background-size: cover;
	top: 0;
	width: 100%;
	height: 100%;
}
/* END HEADER SECTION */

/* MAIN CONTENT SECTION */
.flex-row {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.flex-class {
	display: flex;
	flex-direction: column;
}

#input{
	clear: both;
}

#google-map {
	margin-top: 1em;
	margin-right: 10em;
	width: 60em;
	height: 40em;
	border: 2px solid #49412C;
}

.error {
	color: #FF0000;
	font-size: 0.85em;
	display: block;
}

/* END MAIN SECTION */

@media only screen and (max-width: 1550px) {
	#google-map {
		width: 35em;
		height: 35em;
	}
}

@media only screen and (max-width: 1155px) {	
	.flex-row {
		flex-direction: column;
	}
	
	#google-map {
		margin: auto;
	}
	
	#contact-hours table {
		margin: auto;
	}
	
	main {
		text-align: center;
	}
}