/* HEADER SECTION */
#bg-header {
	background-image: url(../images/exterior.jpg);
	background-position: center bottom;
	background-size: cover;
	top: 0;
	width: 100%;
	height: 100%;
}
/* END HEADER SECTION */

/* MAIN CONTENT SECTION */
#input{
	padding-top: 10px;
	clear: both;
}

#contact-info {
	float: left;
	width: 58%;
}

#map {
	float: left;
	margin-top: 1em;
	width: 20em;
	height: 20em;
	background-color: #000;
}
/* END MAIN SECTION */

@media only screen and (max-width: 768px) {
	#contact-info {
		width: 100%;
	}
}