/* HEADER SECTION */
#bg-header {
	background-image: url(../images/headercafe.jpg);
	background-position: center bottom;
	background-size: cover;
	top: 0;
	width: 100%;
	height: 100%;
}
/* END HEADER SECTION */

/* MAIN CONTENT SECTION */
#artist{
	max-width: 70em;
	margin: auto;
}

#artist img{
	width: 20em;
    float: right;
}
/* END MAIN SECTION

/* CHANGES LAYOUT WHEN WIDTH BELOW 1000 PIXELS */
@media only screen and (max-width: 768px) {
	h3{
		text-align: center;
	}
    
	#artist p{
		text-align: center;
	}
	
	#artist img{
		display: block;
        float: none;
		margin: auto;
	}
}