/* HTML ELEMENTS */
h3 {
	text-align: center;
  margin: 15px;
}

/* END HTML SECTION */

/* HEADER SECTION */
#bg-header {
	background-image: url(../images/boulevard.jpg);
	background-position: center bottom;
	background-size: cover;
	top: 0;
	width: 100%;
	height: 100%;
}
/* END HEADER SECTION */

/* MAIN CONTENT SECTION */
.photo {
	width: 100%;
	height: auto;
	margin: auto;
}

.paragraph {
  line-height: 200%;
  margin-top: 0;
  margin-bottom: 20px;
  text-align: left;
  font-size: 0.9em;
}

.photo2 {
	width: 100%;
	height: auto;
	margin: auto;
}

.photo1 {
	display: none;
}
/* END MAIN SECTION */

/* RESPONSIVE GRID */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float: left;
	margin: 1% 0 1% 3%;
}

.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before, .group:after {
	content: "";
	display: table; 
}

.group:after {
	clear: both;
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}

.span_2_of_3 {
	width: 65.66%;
}

.span_1_of_3 {
	width: 31.33%;
}

/*  GO FULL WIDTH BELOW 768 PIXELS */
@media only screen and (max-width: 768px) {
	.col {
		margin: 1% 0 1% 0%;
	}
	
	.span_3_of_3, .span_2_of_3, .span_1_of_3 {
		width: 100%;
	}
	
  .paragraph {
    margin: 20px;
    text-align: center;
  }
  
  .photo {
    width: 80%;
    display: block;
    height: auto;
    margin: auto;
  }
	.photo1 {
		width: 80%;
    height: auto;
		margin: auto;
		display: block;
	}
	
	.photo2 {
		display: none;
	}
}
