/*MAIN CONTENT SECTION */
#flex {
	display: flex;
	flex-direction: row;
}

#menu-items {
	padding-top: 1em;
}

#menu-img {
	display: flex;
	flex-direction: column;
	padding: 0;
}

#menu-img img {
  width: 300px;
  height: auto;
  padding-bottom: 5px;
}

#menu-img img:last-of-type {
  padding-bottom: 0;
}

main {
	padding-right: 0;
	padding-bottom: 0;
	padding-top: 0;
}

dt {
	border-bottom: dotted 2px #6A5750;
}

dt.coffees {
	font-weight: bold;
	font-size: 1.3em;
	border-bottom: 0;
}

dd {
	margin-top: .8em;
	margin-bottom: .8em;
  font-size: 0.9em;
  line-height: 160%;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
}

h3 {
  margin-top: 0;
}

input{
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
}

.price {
	font-weight: normal;
	float: right;
	padding-right: 2em;
	background: #f9f0df;
	padding-bottom: .5em;
}

.item {
	background: #f9f0df;
	padding-bottom: .5em;
	font-weight: bold;
}

textarea {
	width: 95%;
	max-width: 95%;
}

.error {
	color: #FF0000;
	font-size: 0.85em;
	display: block;
}

/* END MAIN SECTION */

/* RESPONSIVE GRID CODE */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}

.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before, .group:after {
	content:""; display:table;
}
.group:after {
	clear:both;
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 1085px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_2_of_2, .span_1_of_2 {
		width: 100%;
	}
	
	#menu-img {
		display: none;
	}
	
	#menu-items {
		padding-top: 0;
	}
	
	textarea {
		width: 100%;
		max-width: 100%;
	}
}