/*MAIN CONTENT SECTION */
#menu-items {
	margin-right: 300px;
}

#menu-img table {
	position: absolute;
	top: 0;
	right: 0;
	border-collapse: collapse;
}

#menu-img img {
  width: 300px;
  height: auto;
}

dt {
	border-bottom: dotted 2px #6A5750;
}
dt.coffees {
	font-weight: bold;
	font-size: 1.3em;
	border-bottom: 0;
}

dd {
	margin-top: .8em;
	margin-bottom: .8em;
}
input{
	margin-bottom: 0.5em;
}

h4 {
	font-size: 1.2em;
	font-weight: bold;
}

.price {
	font-weight: normal;
	float: right;
	padding-right: 2em;
	background: #f9f0df;
	padding-bottom: .5em;
}

.item {
	background: #f9f0df;
	padding-bottom: .5em;
	font-weight: bold
}
/* END MAIN SECTION */

/* RESPONSIVE GRID CODE */
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 0%;
}

.col:first-child {
	margin-left: 0;
}

/*  GROUPING  */
.group:before, .group:after {
	content:""; display:table;
}
.group:after {
	clear:both;
}

/*  GRID OF TWO  */
.span_2_of_2 {
	width: 100%;
}

.span_1_of_2 {
	width: 49.2%;
}

/*  GO FULL WIDTH AT LESS THAN 768 PIXELS */
@media only screen and (max-width: 1085px) {
	.col { 
		margin: 1% 0 1% 0%;
	}
	.span_2_of_2, .span_1_of_2 {
		width: 100%;
	}
	
	#menu-img {
		display: none;
	}
	
	#menu-items {
		margin: 0;
	}
}